
#btn-blg {
    
    background-color: greenyellow;
}

  header {
    position: sticky;
    top: 0;
    z-index: 1000;
}




.nav-class {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: lightyellow;
}
.donate{
    display: flex;
    gap: 5px;
}
.asset-logo{
    width: 30px;
    height: 30px;
}
.coin-amount{
    display: flex;
    gap: 5px;
}
.coin-image{
    width: 25px;
    height: 25px;
    margin-top: 8px;
}
.poro{
    align-items: center;
    display: flex;
    font-weight: bold;
}
.amount{
    display: flex;
    align-items: center;
    width: 100px;
}
/*
main section
*/
#dontaion-histry{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
#donation {
    background-color: greenyellow;
}



* {
        box-sizing: border-box;
        font-family: Arial, sans-serif;
        
      }

      .card {
        max-width: 900px;
        background: #ffffff;
        border-radius: 12px;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        margin: 0 auto;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
      }

      .card-image {
        width: 45%;
        height: auto;
        padding: 25px;
      }

      .card-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }

      .card-content {
        width: 55%;
        padding: 25px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
      }

      .donate-amount {
        font-weight: bold;
        font-size: 14px;
      }

      .title {
        font-size: 22px;
        font-weight: 700;
        margin: 10px 0;
        color: #222;
      }

      .description {
        font-size: 15px;
        line-height: 1.6;
        color: #555;
        margin-bottom: 20px;
      }

      .donation-input {
        width: 100%;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #ddd;
        font-size: 15px;
        margin-bottom: 15px;
      }

      .donate-btn {
        background: #9be44b;
        border: none;
        padding: 14px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 600;
        width: 100%;
        cursor: pointer;
        transition: background 0.3s ease;
      }

      .coin-donation{
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .cards-container{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .footer-content{
        margin-top: 40px;
        height: 100px;
        background-color: lightyellow;
      }
      
      
      